/*
*       resource.rc
*       
*       This file is part of Piskworks game.
*       https://github.com/berk76/piskworks
*       
*       Piskworks is free software; you can redistribute it and/or modify
*       it under the terms of the GNU General Public License as published by
*       the Free Software Foundation; either version 3 of the License, or
*       (at your option) any later version. <http://www.gnu.org/licenses/>
*       
*       Written by Jaroslav Beran <jaroslav.beran@gmail.com>, on 24.2.2016        
*/


#include "resource.h"
#include "afxres.h"

IDR_MAIN ICON "gomoku.ico"

IDR_MAINMENU MENU
BEGIN
    POPUP "&Game"
    BEGIN
        MENUITEM "&New\tCtrl+N", ID_G_NEW
        MENUITEM "&Load...\tCtrl+L", ID_G_LOAD
        MENUITEM "&Save...\tCtrl+S", ID_G_SAVE
        MENUITEM SEPARATOR
        MENUITEM "Se&ttings...\tCtrl+P", ID_G_SETTINGS
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_END
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About ...", ID_ABOUT
    END
END

SETTINGBOX DIALOG DISCARDABLE 32, 32, 200, 100
CAPTION "Settings"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
FONT 8, "MS Sans Serif"
BEGIN
        GROUPBOX "&Your stones",IDC_STATIC,7,7,84,46
        RADIOBUTTON "&Cross",IDC_STONE_X,16,23,64,8,WS_GROUP | WS_TABSTOP
        RADIOBUTTON "&Circle",IDC_STONE_O,16,39,64,8
        CHECKBOX "Computer starts",IDC_COMP_START,16,61,64,8,BS_LEFTTEXT
        GROUPBOX "&Difficulty",IDC_STATIC,109,7,84,62,WS_GROUP
        RADIOBUTTON "&Easy",IDC_DIF_EASY,116,23,64,8,WS_GROUP | WS_TABSTOP
        RADIOBUTTON "&Medium",IDC_DIF_MEDIUM,116,39,64,8
        RADIOBUTTON "&Hard",IDC_DIF_HARD,116,55,64,8
        DEFPUSHBUTTON "OK",IDC_OK,35,77,50,14,WS_GROUP
        PUSHBUTTON "Cancel",IDC_CANCEL,113,77,50,14,WS_GROUP
END

IDR_MAINACCEL ACCELERATORS 
BEGIN
    "N", ID_G_NEW,      CONTROL, VIRTKEY
    "L", ID_G_LOAD,     CONTROL, VIRTKEY
    "S", ID_G_SAVE,     CONTROL, VIRTKEY
    "P", ID_G_SETTINGS, CONTROL, VIRTKEY 
END 
